<ion-header>
    <ion-toolbar>
        <ion-title>
            Tab2
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="full">

        <!-- <ion-item>
          <ion-button expand="full" fill="solid" (click)="saveSubscriptions()">Save all changes</ion-button>
        </ion-item> -->

        <ion-item-group *ngFor="let group of getTopicGroups()">
            <ion-item-divider (click)="tongleGroupExpansion(group)">
                <ion-icon slot="start" [name]="group.expanded ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                <ion-label>{{group.name}}</ion-label>
                <!-- <ion-badge margin-end slot="end" color="primary">{{group.name.length}}</ion-badge> -->
                <ion-button color="light">View notifications</ion-button>
            </ion-item-divider>

            <div *ngIf="group.expanded">
                <ion-item *ngFor="let item of group.subItems">
                    <ion-label padding-start margin-start>{{item.name}}</ion-label>
                    <ion-button color="light">View notifications</ion-button>
                    <!-- <ion-badge margin-end slot="end" color="secondary">{{item.name.length}}</ion-badge> -->
                </ion-item>
            </div>
        </ion-item-group>

    </ion-list>


</ion-content>
