<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="cancel()">
                <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Message to send</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-list>

        <ion-item>
            <ion-label position="stacked">Title <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required="true" [(ngModel)]="title"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Detail message to group '{{topic.englishName}}' <ion-text color="danger">*</ion-text></ion-label>
            <ion-textarea autoGrow="true" required="true"
                          rows="10"
                          [(ngModel)]="body"
                          placeholder="draft your msg to group here here...  then click Send at bottom"></ion-textarea>

        </ion-item>

        <ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col class="ion-text-center">
                        <ion-button (click)="getImages(options_01)">Choose Images 01</ion-button>
                        <ion-button (click)="getImages(options_02)">Choose Images 02</ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <!-- More Pinterest floating gallery style -->
                        <div class="images">
                            <div class="one-image" *ngFor="let img of imageResponse">
                                <img src="{{img}}" alt="" srcset="">
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-toolbar>
            <ion-buttons slot="end">
                <ion-button [disabled]="!hasRequiredData()" (click)="send()">
                    <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-list>
</ion-content>
