<ion-header>
    <ion-toolbar>
        <ion-title>
            Saint Joseph Parish - Charlotte
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-card class="welcome-card">
        <ion-img src="/assets/GXTGiuse.png"></ion-img>
<!--        <ion-card-header>-->
<!--            <ion-card-title>WELCOME</ion-card-title>-->
<!--        </ion-card-header>-->
        <ion-card-content>
            <p>Saint Joseph Catholic Parish is honored to welcome you. 
                We hope through this mobile-app you will have necessary information about office hours,
                mass times, events and activities of our parish.</p>
        </ion-card-content>
    </ion-card>
    <ion-list lines="none">
        <ion-item *ngIf="waiting"><ion-spinner></ion-spinner></ion-item>

        <ion-card  *ngFor="let eventGroup of frontPageGroups"
                   button="true" (click)="tongleGroupExpansion(eventGroup)">
        <ion-card-header>
            <ion-card-title>{{eventGroup.displayName}}</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="eventGroup.expanded">
        <div *ngIf="eventGroup.contacts && eventGroup.contacts.length > 0">
        Please contact:
        <ul *ngFor="let contact of eventGroup.contacts">
            <li>
                <span *ngIf="contact.title">{{contact.title}} </span>
                <span>{{contact.name}}: </span>
                <span>{{contact.phone}}</span>
            </li>
        </ul>
        </div>
        <div *ngIf="eventGroup.occurrences && eventGroup.occurrences.length > 0">
        Detail:
            <ul *ngFor="let occurence of eventGroup.occurrences">
                <li>
                    <div>{{occurence.date}}: {{occurence.time}}</div>
                    <div *ngIf="occurence.note">{{occurence.note}}</div>
                </li>
            </ul>
        </div>
        </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>
