<ion-header>
    <ion-toolbar>
        <ion-title>
            Saint Joseph Parish - Charlotte
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="/assets/GXTGiuse.png"></ion-img>
<!--        <ion-card-header>-->
<!--            <ion-card-title>WELCOME</ion-card-title>-->
<!--        </ion-card-header>-->
        <ion-card-content>
            <p>Saint Joseph Catholic Parish is honored to welcome you. 
                We hope through this website you will have necessary information about office hours, 
                mass times, events and activities of our parish.</p>
        </ion-card-content>
    </ion-card>
    <ion-list lines="none">
        <ion-item-group *ngFor="let eventGroup of getEventGroups()">
            <ion-item-divider (click)="tongleGroupExpansion(eventGroup)">
                <ion-label>{{eventGroup.displayName}}</ion-label>
                <ion-icon slot="start" [name]="eventGroup.expanded ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
            </ion-item-divider>

             <div *ngIf="eventGroup.expanded">
<!--                <ion-item *ngFor="let event of eventGroup.events">-->
<!--                    <ion-label text-wrap>-->
<!--                        <h2>{{event.name}}: {{event.occurrences.join(' | ')}}</h2>-->
<!--                        <h4 *ngIf="event.note">{{event.note}}</h4>-->
<!--                    </ion-label>-->
<!--                </ion-item>-->
                 <ion-card *ngFor="let event of eventGroup.events">
                     <ion-card-header>
                         <ion-card-subtitle>{{event.name}}
                             <span *ngIf="event.occurrences && event.occurrences.length > 0">: {{event.occurrences.join(' | ')}}</span>
                         </ion-card-subtitle>
                     </ion-card-header>

                     <ion-card-content>
                         <div *ngIf="event.note">{{event.note}}</div>
                         <div *ngIf="event.contactIds && event.contactIds.length > 0">Please contact:
                             <ul *ngFor="let contact of event.contactIds">
                                 <li>{{contact}}</li>
                             </ul>
                         </div>
                     </ion-card-content>
                 </ion-card>
             </div>
        </ion-item-group>

    </ion-list>
</ion-content>
