<ion-tabs (ionTabsWillChange)="ionTabsWillChange($event)" (ionTabsDidChange)="ionTabsDidChange($event)">

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="notifications">
            <ion-badge *ngIf="newNotificationCount > 0" style="position: absolute">{{newNotificationCount}}</ion-badge>
            <ion-icon name="notifications"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="contacts">
            <ion-icon name="contacts"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="setting">
            <ion-icon name="settings"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
