<ion-header>
    <ion-toolbar>
        <ion-title>
            Contacts
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none">
        <ion-item *ngIf="waiting"><ion-spinner></ion-spinner></ion-item>

        <ion-card *ngFor="let contact of contacts">
            <ion-card-header>
                <ion-card-subtitle *ngIf="contact.title">{{contact.title}}</ion-card-subtitle>
                <ion-card-title>{{contact.name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content *ngIf="contact.email || contact.phone">
                <ion-list lines="none">
                    <ion-item *ngIf="contact.email">
                        <ion-label position="end">{{contact.email}}</ion-label>
                        <ion-icon name="mail" slot="start"></ion-icon>
                    </ion-item>
                    <ion-item *ngIf="contact.phone">
                        <ion-label position="end">{{contact.phone}}</ion-label>
                        <ion-icon name="call" slot="start"></ion-icon>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>

<!--        <ion-item *ngFor="let item of group.subItems">-->
<!--            <ion-label class="ion-margin-start ion-padding-start">{{item.name}}</ion-label>-->
<!--            <ion-button color="light">View notifications</ion-button>-->
<!--            &lt;!&ndash; <ion-badge margin-end slot="end" color="secondary">{{item.name.length}}</ion-badge> &ndash;&gt;-->
<!--        </ion-item>-->

    </ion-list>


</ion-content>
