<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="cancel()">
                <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-list>
        <ion-item>
            <ion-textarea *ngIf="failedReason != null" color="danger"
                          autoGrow="true"
                          rows="3"
                          [(ngModel)]="failedReason"
                          placeholder=""></ion-textarea>
        </ion-item>

        <ion-item *ngIf="waiting"><ion-spinner></ion-spinner></ion-item>
        <ion-item>
            <ion-input type="text" placeholder="User id/email" clearOnEdit="false" required="true" [(ngModel)]="userEmail"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Password" [type]="showPassword ? 'text' : 'password'" clearOnEdit="false" required="true" [(ngModel)]="password"></ion-input>
            <button (click)="onPasswordToggle()" ion-button clear small item-end icon-only><ion-icon [name]="showPassword ? 'eye' : 'eye-off'"></ion-icon></button>
        </ion-item>

        <ion-toolbar>
            <ion-buttons slot="end">
                <ion-button [disabled]="!fingerprintAIOAvailable" (click)="showFingerprintAIO()">
                    <ion-icon slot="icon-only" name="finger-print"></ion-icon>
                </ion-button>

                <ion-button [disabled]="!hasRequiredData()" (click)="login()">
                    <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-list>
</ion-content>
