<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="cancel()">
                <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Send reset password email</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-list>
        <ion-item>
            <ion-textarea *ngIf="failedReason != null" color="danger"
                          autoGrow="true"
                          rows="3"
                          [(ngModel)]="failedReason"
                          placeholder=""></ion-textarea>
        </ion-item>

        <ion-item *ngIf="waiting"><ion-spinner></ion-spinner></ion-item>
        <ion-item>
            <ion-input type="text" placeholder="User id/email" clearOnEdit="false" required="true" [(ngModel)]="userEmail"></ion-input>
        </ion-item>

        <ion-toolbar>
            <ion-buttons slot="end">
                <ion-button [disabled]="!hasRequiredData()" (click)="submit()">
                    <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-list>
</ion-content>
