<ion-header>
    <ion-toolbar>
        <ion-title>
            Settings
        </ion-title>
        <ion-buttons  slot="end">
            <ion-button *ngIf="!authorizedToWorkWithNotification()" (click)="showLoginModal()">
                <ion-icon slot="icon-only"  name="log-in" ></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons  slot="end">
            <ion-button *ngIf="authorizedToWorkWithNotification()" (click)="logout()">
                <ion-icon slot="icon-only" name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list lines="full">
        <ion-item color="light">
            <ion-label slot="start" color="dark" class="ion-text-wrap">Notifications</ion-label>
        </ion-item>

        <ion-item-group *ngFor="let group of getTopicGroups()">
            <ion-item>
                <ion-icon slot="start" [name]="group.expanded ? 'arrow-dropdown' : 'arrow-dropright'"
                          (click)="tongleGroupExpansion(group)"></ion-icon>
                <ion-label class="ion-text-wrap">{{group.englishName}}</ion-label>
                <ion-icon *ngIf="group.expanded && canAddTopic(group)"
                          slot="end" name="add" (click)="addTopic(group)"></ion-icon>
            </ion-item>

            <div *ngIf="group.expanded">
                <ion-item *ngFor="let item of group.subtopics">
                    <ion-label class="ion-margin-start ion-padding-start ion-text-wrap">{{item.englishName}}</ion-label>
                    <ion-toggle *ngIf="!authorizedToWorkWithNotification() && !canSendNotification(item)"
                                class="ion-margin-end" slot="end" [color]="item.subscribed ? 'medium' : 'light'"
                                [(ngModel)]="item.subscribed"
                                (ngModelChange)="checkboxItemClicked(item)"></ion-toggle>
                    <ion-icon *ngIf="canSendNotification(item)"
                              class="ion-margin-end" slot="end"
                              name="chatbubbles" (click)="sendMessageToTopic(item)"></ion-icon>

                </ion-item>
            </div>
        </ion-item-group>

        <div *ngIf="refreshCount > 2">
            <ion-item>
                <ion-label slot="stacked" color="dark" class="ion-text-wrap">Backend Server</ion-label>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Server URL <ion-text color="danger">*</ion-text></ion-label>
                <ion-select [(ngModel)]="selectedBackEndUrl"
                            [selectedText]="selectedBackEndUrl"
                            (ionChange)="switchBackendServerUrl()"
                            placeholder="Select server URL"
                            multiple="false"
                            interface="action-sheet">
                    <ion-select-option *ngFor="let url of backendServerUrls" value="{{url}}">{{url}}</ion-select-option>

                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label slot="start" color="danger" class="ion-text-wrap">Clear local storage</ion-label>
                <ion-icon slot="end"
                          color="danger"
                          name="trash"
                          (click)="clearStorage()"></ion-icon>

            </ion-item>
        </div>

    </ion-list>

</ion-content>
