<ion-header>
    <ion-toolbar>
        <ion-title>
            Settings
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list lines="none">
        <div *ngIf="!hasValidAuthorizedUser()" >
        <ion-item (click)="showLoginModal()">
            <ion-label slot="start" class="ion-text-wrap">Login</ion-label>
            <ion-icon slot="end" name="log-in" ></ion-icon>
        </ion-item>
        <ion-item (click)="sendResetPasswordEmail()">
            <ion-label slot="start" class="ion-text-wrap">Reset password</ion-label>
            <ion-icon slot="end" name="refresh" ></ion-icon>
        </ion-item>
        </div>

        <div *ngIf="hasValidAuthorizedUser()" >
        <ion-item (click)="logout()">
            <ion-label slot="start" class="ion-text-wrap">Logout</ion-label>
            <ion-icon slot="end" name="log-out"></ion-icon>
        </ion-item>

        <ion-item (click)="changePasswordModal()">
            <ion-label slot="start" class="ion-text-wrap">Change password</ion-label>
            <ion-icon slot="end" name="swap"></ion-icon>
        </ion-item>
        </div>

        <ion-item></ion-item>
        <ion-item></ion-item>
        <ion-item></ion-item>
        <ion-item (click)="clearStorage()">
            <ion-label slot="start" color="danger" class="ion-text-wrap">Delete ALL data of this app</ion-label>
            <ion-icon slot="end"
                      color="danger"
                      name="trash"
                      ></ion-icon>
        </ion-item>

        <div *ngIf="refreshCount > 2">
            <ion-item>
                <ion-label slot="stacked" color="dark" class="ion-text-wrap">Backend Server</ion-label>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Server URL <ion-text color="danger">*</ion-text></ion-label>
                <ion-select [(ngModel)]="selectedBackEndUrl"
                            [selectedText]="selectedBackEndUrl"
                            (ionChange)="switchBackendServerUrl()"
                            placeholder="Select server URL"
                            multiple="false"
                            interface="action-sheet">
                    <ion-select-option *ngFor="let url of backendServerUrls" value="{{url}}">{{url}}</ion-select-option>

                </ion-select>
            </ion-item>


        </div>

    </ion-list>

</ion-content>
