<ion-header>
    <ion-toolbar>
        <ion-title>
            Received Notifications
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="full">
        <ion-item>
            <ion-button expand="full" fill="solid" (click)="insertRandomNotification()">Add notification</ion-button>
        </ion-item>

        <ion-item>
            <ion-button expand="full" fill="solid" (click)="refreshAllNotifications()">Refresh notifications
            </ion-button>
        </ion-item>


        <ion-item *ngFor="let fcmNotification of fcmNotifications">
            <ion-label text-wrap>
                <h2>{{fcmNotification.key}}</h2>
                <h4>{{fcmNotification.receivedTime}}</h4>
                <h4>{{fcmNotification.msg}}</h4>
            </ion-label>
            <ion-button fill="solid" color="danger" (click)="deleteNotification(fcmNotification.key)">Delete
            </ion-button>
            <!-- <div class="item-note" slot="end">{{fcmNotification.label}} {{fcmNotification.body}}</div> -->
        </ion-item>

        <!-- <ion-item  *ngFor="let fcmNotification of getAllNotifications()">
            <ion-label text-wrap>
                <h2>{{fcmNotification.receivedTime}}</h2>
                <h4>{{fcmNotification.title}}</h4>
            </ion-label>
            <div class="item-note" slot="end">{{fcmNotification.label}}</div>
            <ion-badge margin-end slot="end" color="secondary">{{fcmNotification.body}}</ion-badge>
        </ion-item> -->
    </ion-list>
</ion-content>
